In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [2]:
## Z alpha by 2 
alpha=0.05
st.norm.ppf(alpha/2)

-1.9599639845400545

In [3]:
## Z alpha by 2 
alpha=0.05
st.norm.isf(alpha/2)

1.9599639845400545

In [4]:
st.norm.cdf(-1.9599639845400545)

0.024999999999999977

In [5]:
st.norm.sf(1.9599639845400545)

0.024999999999999977

In [6]:
## t alpha by 2 for agiven alpha and sample size(n)
n=10
dof=n-1
st.t.ppf(alpha/2,dof)

-2.262157162740992

In [10]:
n=1000
dof=n-1
st.t.ppf(alpha/2,dof)

-1.962341461133449

Consider the data of grade points for 35 students in a data science course. Select grades of 20 students randomly from the data. Explain all the concepts
 Grades: [59.1, 65.0, 75.8, 79.2, 95.0, 99.8, 89.1, 65.2, 41.9, 55.2, 94.8, 84.1, 83.2, 74.0, 75.5, 76.2, 79.1, 80.1, 
          92.1, 74.2, 59.2, 64.0, 75, 78.2, 95.6, 97.8, 89.5, 64.2, 41.8, 57.2, 85, 91.4, 81.8, 74.6, 90]

In [11]:
population= [59.1, 65.0, 75.8, 79.2, 95.0, 99.8, 89.1, 65.2, 41.9, 55.2, 94.8, 84.1, 83.2, 74.0, 75.5, 76.2, 79.1, 80.1, 
          92.1, 74.2, 59.2, 64.0, 75, 78.2, 95.6, 97.8, 89.5, 64.2, 41.8, 57.2, 85, 91.4, 81.8, 74.6, 90]

In [20]:
mu =np.mean(population)
mu

76.68285714285715

In [13]:
import random

In [28]:
# SRS without replacement
random.seed(1)
s1= random.sample(population, 20)
s1

[41.9,
 95.0,
 79.1,
 65.2,
 76.2,
 95.6,
 75.5,
 85,
 59.2,
 83.2,
 89.1,
 79.2,
 64.2,
 59.1,
 97.8,
 74.0,
 64.0,
 41.8,
 90,
 91.4]

In [18]:
point_estimate = np.mean(s1)
point_estimate

75.32500000000002

In [22]:
samp_eror =abs(mu-point_estimate)
samp_eror

1.357857142857128

In [29]:
# SRS with replacement
random.seed(1)
s2= random.choices(population, k=40)
s2

[95.0,
 57.2,
 89.5,
 41.9,
 80.1,
 76.2,
 75,
 64.2,
 79.2,
 59.1,
 57.2,
 76.2,
 89.5,
 59.1,
 76.2,
 97.8,
 41.9,
 74.6,
 91.4,
 65.0,
 59.1,
 92.1,
 81.8,
 74.0,
 65.2,
 75.5,
 65.0,
 65.2,
 76.2,
 80.1,
 41.9,
 41.9,
 65.2,
 79.1,
 94.8,
 59.1,
 57.2,
 74.2,
 75,
 89.1]

In [26]:
np.mean(s2)

72.315

In [30]:
## Stratified random sampling
df= sns.load_dataset('tips')

In [31]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [34]:
y = df.smoker
x= df.drop('smoker', axis=1)

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
df.smoker.value_counts(normalize=True)

No     0.618852
Yes    0.381148
Name: smoker, dtype: float64

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,stratify=df.smoker)

In [38]:
y_train.value_counts(normalize=True)

No     0.620513
Yes    0.379487
Name: smoker, dtype: float64

In [39]:
y_test.value_counts(normalize=True)

No     0.612245
Yes    0.387755
Name: smoker, dtype: float64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,stratify=df.smoker)

In [40]:
x_train.shape

(195, 6)

In [41]:
x_test.shape

(49, 6)

In [42]:
x1_train,x1_test,y1_train,y1_test = train_test_split(x,y, test_size=0.2)

In [43]:
y1_train.value_counts(normalize=True)

No     0.630769
Yes    0.369231
Name: smoker, dtype: float64

In [44]:
y1_test.value_counts(normalize=True)

No     0.571429
Yes    0.428571
Name: smoker, dtype: float64

## POINT ESTIMATE for Population Proportion

A financial firm has created 50 portfolios. From them, a sample of 13 portfolios was selected, out of which 8 were found to be underperforming. Can you estimate the number of underperforming portfolios?

In [48]:
x= 8
n=13
p=x/n
N=50
estimate =round(N*p,0)
estimate

31.0

## INTERVAL ESTIMATE for population proportion

A financial firm has created 50 portfolios. From them, a sample of 13 portfolios was selected, out of which 8 were found to be underperforming. Can you estimate confidence interval for the number of underperforming portfolios@ confidence level of 95%?

In [60]:
alpha=0.05
x= 8
n=13
p=x/n
N=50
q=1-p
serror= np.sqrt(p*q/n)
zalphaby2= st.norm.isf(alpha/2)
lower_conf_limit= p-(zalphaby2*serror)
upper_conf_limit= p+(zalphaby2*serror)
print(round(lower_conf_limit*N,0),round(upper_conf_limit*N,0))

18.0 44.0

In [57]:
lcl, ucl = st.norm.interval(1-alpha, p, np.sqrt(p*q/n))

In [58]:
print(round(lcl*N,0),round(ucl*N,0))

18.0 44.0

## INTERVAL ESTIMATE for population mean

A random sample of weight (in kg.) for 35 diabetic patients is drawn from the population with a standard deviation of 8 kg. Find the 90%,95%,99% confidence interval for the population mean.

    Weight: [59.1, 65.0, 75.8, 79.2, 95.0, 99.8, 89.1, 65.3, 41.9, 55.2, 94.8, 84.1, 83.2, 74.0, 75.5, 76.2, 79.1, 80.1, 
             92.1, 74.2, 59.2, 64.0, 75, 78.2, 95.6, 97.8, 89.5, 64.2, 41.8, 57.2, 85, 91.4, 81.8, 74.6, 90]

In [61]:
Weight=[59.1, 65.0, 75.8, 79.2, 95.0, 99.8, 89.1, 65.3, 41.9, 55.2, 94.8, 84.1, 83.2, 74.0, 75.5, 76.2, 79.1, 80.1, 
             92.1, 74.2, 59.2, 64.0, 75, 78.2, 95.6, 97.8, 89.5, 64.2, 41.8, 57.2, 85, 91.4, 81.8, 74.6, 90]

In [65]:
xbar = np.mean(Weight)
sigma=8
n=35
alpha1=0.1
alpha2=0.05
alpha3=0.01
se= sigma/np.sqrt(n)
zalpha1by2=st.norm.isf(alpha1/2)
zalpha2by2=st.norm.isf(alpha2/2)
zalpha3by2=st.norm.isf(alpha3/2)
me1=zalpha1by2*se
me2=zalpha2by2*se
me3=zalpha3by2*se

In [66]:
## 90% confidence interval
lcl=xbar-me1
ucl= xbar+me1
print(lcl, ucl)

74.46146621975642 78.90996235167215

In [67]:
## 95% confidence interval
lcl=xbar-me2
ucl= xbar+me2
print(lcl, ucl)

74.03535924467639 79.33606932675218

In [68]:
## 99% confidence interval
lcl=xbar-me3
ucl= xbar+me3
print(lcl, ucl)

73.20255733315629 80.16887123827227

In [69]:
st.norm.interval(1-alpha3, xbar,se)

(73.20255733315629, 80.16887123827227)

There are 150 apples on a tree. You randomly choose 40 apples and found that the average weight of apples is 182 grams with a standard deviation of 30 grams. Find the 95% confidence interval for the population mean.

In [72]:
st.t.interval(0.95,39,182,30/np.sqrt(40))

(172.40553457459347, 191.59446542540653)

In [70]:
xbar=182
s=30
n=40
dof=n-1
se=s/np.sqrt(n)
alpha=0.05
talpahby2=st.t.isf(alpha/2,dof)
me=talpahby2*se
lcl=xbar-me
ucl=xbar+me
print(lcl,ucl)

172.40553457459347 191.59446542540653

In [71]:
st.t.interval(1-alpha,dof,xbar,se)

(172.40553457459347, 191.59446542540653)

estimate 95% confidence interval for total bill in 'tips dataset?

In [73]:
st.t.interval(0.95,243,df.total_bill.mean(),df.total_bill.std()/np.sqrt(244))

(18.663331704358477, 20.90855354154317)

In [ ]:
st.norm.interval()